*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html {
	height: 100%;
}

body {
	line-height: 1;
	font-size: 16px;
}

h3{
	font-size: 32px;
	font-weight: normal;
}

h4{
	font-size: 26px;
	font-weight: 500;
}

h5{
	font-size: 20px;
}

.mt-100{
	margin-top: 100px;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button,
input[type="submit"],
input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
	font-family: 'Ubuntu', sans-serif;
	--text: #323843;
	--hover: #FF9D3F;
	--bg: #F4F8FF;
	color: var(--text);
	font-size: 16px;
	line-height: 1.6;
}


img {
	max-width: 100%;
}

//Header//

.header__menu{
	width: 449px;
	height: 853px;
	background-color: #303943;
	color: #F4F8FF;
	border-radius: 20px;
	padding: 90px 0 0 50px;
	position: absolute;
	z-index: 10;
	top: 0;
	left: -449px;
	transition: .5s;
}

.header.open .header__menu{
	transform: translateX(100%);
}

.header__inner{
	position: relative;
	display: flex;
	gap: 20px;
	align-items: center;
	margin-left: 38px;
}

.burger__off{
	position: absolute;
	z-index: 11;
	top: 50px;
	right: 50px;
	cursor: pointer;
}


.header-burger {
	position: relative;
	width: 63px;
	height: 43px;
	border: none;
	background-color: #ffffff;
}

.header-burger {
	span {
		position: absolute;
		width: 63px;
		height: 5px;
		background: #303943;
		left: 0px;
		border-radius: 20px
	}

	span:nth-child(1) {
		transform: translateY(-20px);
	}

	span:nth-child(3) {
		transform: translateY(20px);
	}
}

//Search//

.header__search {
	position: relative;
	width: 610px;
	height: 56px;
	background-color: #FEECDA;
	border-radius: 50px;
	display: flex;

	.icon__search {
		position: absolute;
		left: 30px;
		top: 18px;
		height: 20px;
		width: 20px;
		z-index: 10;
		cursor: pointer;
	}

	.icon__clear{
		position: absolute;
		right: 30px;
		top: 18px;
		height: 20px;
		width: 16px;
		z-index: 10;
		cursor: pointer;
	}

	.header__input {
		position: relative;
		width: 480px;
		height: 50px;
		display: flex;
		align-items: center;
	}

	.header__input {
		input{
			position: absolute;
			top: 3px;
			left: 70px;
			width: 100%;
			height: 100%;
			border: none;
			background: none;
			outline: 0;
			font-size: 18px;
			padding: 10px 0;
			
		}
	}
}

//Slaider//

.slaider__inner{
	margin-top: 100px;
}

//Catalog//

.main__catalog{
	padding: 30px 0 100px 0;
}

.pattern__card{
	flex-direction: column;
	gap: 15px;
	margin-top: 70px;
	cursor: pointer;

	.card__price{
		display: flex;
		gap: 20px;
		align-items: center;
	}

	.old__price{
		text-decoration: line-through;
		color: #565656;
	}

	.card__info{
		padding: 0 15px;
	}
}

.catalog__button{
	display: flex;
	justify-content: center;

	.more{
		width: 242px;
		height: 60px;
		background-color: #303943;
		border-radius: 5px;
		color: #F4F8FF;
		font-size: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}
}

//Footer//

.footer{
	background-color: var(--text);
	color: #F4F8FF;
}

.footer__inner{
	padding: 70px 0 50px 0;
}

.list__item-title{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 30px;
}

.list__item{
	margin-bottom: 20px;
}