*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html {
	height: 100%;
}

body {
	line-height: 1;
	font-size: 16px;
	line-height: 160%;
}

h1 {
	color: #F88D26;
	font-size: 40px;
	font-weight: 700;
	line-height: 160%;
	margin-bottom: 20px;
}

h2 {
	color: #303943;
	font-size: 36px;
}

h3 {
	font-size: 32px;
	font-weight: normal;
}

h4 {
	font-size: 26px;
	font-weight: 500;
}

h5 {
	font-size: 20px;
}

.mt-100 {
	margin-top: 100px;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

p{
	line-height: 180%;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button,
input[type="submit"],
input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
	font-family: 'Ubuntu', sans-serif;
	--text: #323843;
	--hover: #FF9D3F;
	--bg: #F4F8FF;
	color: var(--text);
	font-size: 16px;
	line-height: 1.6;
}


img {
	max-width: 100%;
}

//Header//

.header__menu {
	width: 449px;
	height: 853px;
	background-color: #303943;
	color: #F4F8FF;
	border-radius: 20px;
	padding: 90px 0 0 50px;
	position: absolute;
	z-index: 10;
	top: 0;
	left: -449px;
	transition: .5s;
}

.header.open .header__menu {
	transform: translateX(100%);
}

.header__inner {
	position: relative;
	display: flex;
	gap: 20px;
	align-items: center;
	padding: 12px;
}

.burger__off {
	position: absolute;
	z-index: 11;
	top: 50px;
	right: 50px;
	cursor: pointer;
}


.header-burger {
	position: relative;
	width: 63px;
	height: 43px;
	border: none;
	background-color: #ffffff;
}

.header-burger {
	span {
		position: absolute;
		width: 63px;
		height: 5px;
		background: #303943;
		left: 0px;
		border-radius: 20px
	}

	span:nth-child(1) {
		transform: translateY(-20px);
	}

	span:nth-child(3) {
		transform: translateY(20px);
	}
}

.basket {
	margin-left: 20px;
}

//Search//

.header__search {
	position: relative;
	width: 610px;
	height: 56px;
	background-color: #FEECDA;
	border-radius: 50px;
	display: flex;

	.icon__search {
		position: absolute;
		left: 30px;
		top: 18px;
		height: 20px;
		width: 20px;
		z-index: 10;
		cursor: pointer;
	}

	.icon__clear {
		position: absolute;
		right: 30px;
		top: 18px;
		height: 20px;
		width: 16px;
		z-index: 10;
		cursor: pointer;
	}

	.header__input {
		position: relative;
		width: 480px;
		height: 50px;
		display: flex;
		align-items: center;
	}

	.header__input {
		input {
			position: absolute;
			top: 3px;
			left: 70px;
			width: 100%;
			height: 100%;
			border: none;
			background: none;
			outline: 0;
			font-size: 18px;
			padding: 10px 0;

		}
	}
}

//Slaider//

.slaider__inner {
	margin-top: 100px;
}

//Catalog//

.main__catalog {
	padding: 30px 0 100px 0;
}

.pattern__card {
	flex-direction: column;
	gap: 15px;
	margin-top: 70px;
	cursor: pointer;

	.card__price {
		display: flex;
		gap: 20px;
		align-items: center;
	}

	.old__price {
		text-decoration: line-through;
		color: #565656;
	}

	.card__info {
		padding: 0 15px;
	}
}

.btn {
	width: 242px;
	height: 60px;
	background-color: #303943;
	border-radius: 5px;
	color: #F4F8FF;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn:hover {
	background-color: #E87200;
	color: #F4F8FF;
}

.catalog__button {
	display: flex;
	justify-content: center;

	.more {
		width: 242px;
		height: 60px;
		background-color: #303943;
		border-radius: 5px;
		color: #F4F8FF;
		font-size: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}
}


//Catalog-category//

.bread-crumbs {
	margin: 60px 0;

	span,
	a {
		color: #E87200;
		font-size: 16px;
	}
}

.category__list {
	margin-top: 30px;
}

.category__item {
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 15px;
}

.category__link:hover {
	color: #E87200;
}

.category__right {
	padding-left: 50px;
}


//About-Slider//

.about__inner {
	margin-bottom: 100px;
}

.gallery__photo-full {
	margin-bottom: 12px;
}

.gallery__photo-full img {
	display: block;
}

.gallery__photo-previews {
	display: flex;
	list-style-type: none;
	margin: 0;
	width: 505px;
	padding: 0;
	justify-content: space-between;
}

.gallery__photo-preview {
	padding: 0;
	border: 0;
	border-radius: 0;
	background: none;
}

.gallery__photo-preview:hover,
.gallery__photo-preview:focus {
	opacity: 0.7;
}

.gallery__photo-preview img {
	display: block;
	object-fit: cover;
	width: 100px;
	height: 100px;
	border-radius: 10px;
}

.gallery__photo-preview--active img {
	outline: 5px solid red;
	outline-offset: -5px;
}

.full-photo {
	width: 505px;
	height: 490px;
}


//About-Info//

.about__text {
	padding-bottom: 40px;
	border-bottom: 1px solid #303943;
}

.availability,
.brand {
	color: #E87200;
}

.about__status {
	width: 325px;
	justify-content: space-between;
	margin: 18px 0 30px 0;
}

.about__price {
	color: var(--text);
	font-size: 32px;
	text-transform: uppercase;
}

.number__button {
	width: 113px;
	height: 54px;
	border: 1px solid #303943;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.number__button input {
	max-width: 55px;
	text-align: center;
	font-weight: 700;
	background-color: #fff;
	border: none;
	border-radius: 3px;
	margin: 0 5px;
}

.change {
	margin-bottom: 4px;
	cursor: pointer;
}

.plus {
	font-size: 25px;
}

.minus {
	font-size: 32px;
}

.about__buttons {
	display: flex;
	gap: 33px;
	margin-top: 50px;
}


//Tabs//

.productInfo__inner {
	margin-bottom: 100px;
}

.tabs__container {
	display: flex;
	gap: 126px;
}

.tab__title {
	font-size: 32px;
	font-weight: 500;
	cursor: pointer;
	padding-bottom: 10px;
	width: 300px;
	text-align: center;
}

.active__tab {
	border-bottom: 5px solid #F88D26;
}

.hidden__tab {
	display: none;
}

.tab__wrapper {
	border: 1px solid #303943;
	height: 650px;
	padding: 60px 100px;
}

.table__row {
	border-bottom: 1px solid #303943;
	padding-bottom: 15px;
}

.table__d{
	margin-left: 170px;
}

th{
	color: #E87200;
}

.table>:not(caption)>*>* {
    padding: 1.5rem 0.5rem;
}
//Footer//

.footer {
	background-color: var(--text);
	color: #F4F8FF;
}

.footer__inner {
	padding: 70px 0 50px 0;
}

.list__item-title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 30px;
}

.list__item {
	margin-bottom: 20px;
}


//Basket//

.basket-item{
	margin-bottom: 100px;
}

.basket__subtitle{
	margin-top: 60px;
	margin-bottom: 30px;
	display: flex;
	font-size: 24px;
	justify-content: space-between;
	max-width: 1025px;
}

.subtitle__two{
	display: flex;
	gap: 140px;
}

.description{
	display: flex;
	flex-direction: column;
}

.item-title{
	font-size: 18px;
	font-weight: 500;
}

.item{
	align-items: center;
	padding: 50px 0;
	border-top: 1px solid #303943;
	border-bottom: 1px solid #303943;
}

.basket__buttons{
	margin-top: 0;
}

.total-price{
	font-size: 24px;
}


.payment__inner{
	padding-bottom: 50px;
}

.delivery__radio, .payment__radio{
	display: flex;
	gap: 70px;
	margin-top: 10px;
}

.delivery__method, .payment__method{
	margin-bottom: 30px;
}

.payment__price{
	display: flex;
	align-items: center;
	gap: 20px;
}

.payment__price span{
	font-size: 28px;
}

.decoration{
	gap: 66px;
	margin-top: 40px;
}

.payment__icon{
	gap: 40px;
}

.payment__result p {
	margin-top: 40px;
	font-size: 14px;
}